.header-container {
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.nav-item {
  margin-left: 2rem;
}

#checkout {
  background: #fff;
  font-weight: 700;
  padding: 1.5rem 2.5rem;
  border-radius: 8px;
  margin-left: 2rem;
  border: #f76e1e solid 1px;
  text-decoration: none;
  color: #f76e1e;
  transition: 300ms;
}

#checkout:hover {
  background: #f76e1e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f76e1e, #f7491e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f76e1e, #f7491e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

#logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin-left: 5rem;
  transition: 300ms;
}

#logo:hover {
  transform: scale(1.05);
}