/* Footer.css */

footer {
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.footer-container p {
  margin-left: 5rem;
}

.footer-container ul {
  margin-right: 5rem;
}

.footer-copyright {
  background: #e0871b41;
  padding: 5px 0;
}

.footer-copyright a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.footer-social-list {
  display: flex;
}

.social-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 2rem;  
  transition: all 0.3s ease;
}